# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep
# Don’t ignore themes dir, but ignore everything inside
!web/app/themes
web/app//themes/*

# Don’t ignore uncode-child theme
!web/app//themes/uncode-child
